@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
  }

  .scrollbar-hide:hover {
    scrollbar-width: thin;
    scrollbar-color: rgb(148 163 184 / 0.35) transparent;
  }

  .scrollbar-hide:hover::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  .scrollbar-hide:hover::-webkit-scrollbar-thumb {
    background: rgb(148 163 184 / 0.35);
    border-radius: 9999px;
  }

  .scrollbar-hide:hover::-webkit-scrollbar-track {
    background: transparent;
  }
}
